@font-face {
    font-family: 'Forum';
    src: url('fonts/Forum/Forum-Regular.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    width: 1440px;
    border: 1px rgb(187, 187, 187) solid;
}
/*==========Header================*/
header {
    width: 100%;
    height: 90px;
    background-color: #0C0C0E;
    display: flex;
}
h1 {
    width: 294px;
    height: 50px;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-left: 20px;
}
nav {
    height: 50px;
    width: 584px;
    margin: 20px 40px 20px 454px;
    padding: 0;
}
nav ul {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 30px;
    margin: 0;
    padding: 0;
}
nav ul li {
    width: 100%;
    height: 100%;
    list-style: none;
}
nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    white-space: nowrap;
    cursor: pointer;
}
nav ul li a:hover {
    transition: .45s;
    color: aqua;
}
.icon_profile {
    width: 28px;
    height: 28px;
    margin: 31px 20px 31px 0;
}
/*==========//Header================*/

main {
    width: 1440px;
}

/*==========Welcome================*/
.welcome {
    width: 100%;
    height: 600px;
    background: url(images/welcome.jfif) top -800px left / cover no-repeat;
    position: relative;
}
.overlay {
    width: 1440px;
    height: 300px;
    position: absolute;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}
.welcome-bg {
    display: flex;
    width: 600px;
    height: 220px;
    flex-shrink: 0;
    position: absolute;
    top: 220px;
    background-color: #0C0C0E;
    padding: 0;
}
.welcome-bg h2 {
    margin: 35px 40px;
    width: 520px;
    height: 120px;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
/*==========//Welcome================*/

/*==========ABOUT================*/
.about {
    width: 1440px;
    height: 837px;
}
.about .section-title {
    width: 106px;
    height: 61px;
    position: relative;
    margin: 20px 667px 0px 667px;
}
.about .section-title h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
}
.about .section-title::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    bottom: 0;
    left: 26.5px;
}
.about p {
    display: block;
    width: 1440px;
    height: 40px;
    margin: 40px 0 20px 0;
    padding: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
}
.images-items {
    width: 1400px;
    height: 560px;
    padding: 0 20px;
    display: flex;
    gap: 25px;
}
.carousel-pagination {
    margin: 40px 686px;
    padding: 0;
    display: flex;
    gap: 10px;    
    width: 68px;
    height: 16px;
    justify-content: center;
    align-items: center;
}
.carousel-item-area {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0C0C0E;
}
.carousel-item-active {
    background: #BB945F;
}
/*==========//ABOUT================*/

/*==========Favorites================*/
.favorites {
    width: 1440px;
    height: 1439px;
}
.favorites .section-title {
    width: 160px;
    height: 61px;
    position: relative;
    margin: 0px 640px 0px 640px;
}
.favorites .section-title h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
}
.favorites .section-title::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    bottom: 0;
    left: 55px;
}
.favorites .pick-favorites {
    margin: 40px 0 40px 0;
    padding-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.seasons {
    width: 700px;
    height: 24px;
    margin: 0 0 40px 0;
    display: flex;
    gap: 90px;
}
.season-time-wrapper {
    width: 120px;
    margin: 0 0 0 50px;
    padding: 0;
    position: relative;
}
.seasons input {
    cursor: pointer;
    display: none;
}
.seasons label {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.seasons label::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 2px #000 solid;
    border-radius: 50%;
    left: -33px;
    top: 3.5px;
}
.seasons input:checked + label{
    font-weight: 700;
}
.seasons input:checked + label::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #000;
    border-radius: 50%;
    left: -28px;
    top: 9px;
}
.favorites-items {
    width: 1400px;
    height: 1150px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 0 20px;
    column-gap: 260px;
    row-gap: 40px;
}
.favorites-items-book {
    width: 508px;
    height: 525px;
    border: 1px solid #000;
    flex-shrink: 0;
    margin: 0;
    padding: 13px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.staff-pick {
    width: 104px;
    height: 40px;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
}
.staff-pick::after {
    content: '';
    width: 60px;
    height: 1px;
    background: #BB945F;
    position: absolute;
    bottom: 0;
    left: 0;
}
.favorites-book-title {
    margin: 20px 0 0 0;
    height: 80px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.favorites-book-title span {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;  
}
.favorites-book-description {
    width: 355px;
    margin: 20px 175px 0 0;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.favorites-button-buy {
    width: 75px;
    height: 30px;
    margin: 15px 0 0 0;
    border: 1px solid #000;
    background: #FFF;
    border-radius: 2px;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
}
.favorites-button-buy:hover {
    transition: linear 0.3s;
    background: #BB945F;
}
.favorites-book-image {
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: -1px;
    right: -40px;
}
.favorites-spring-time,
.favorites-summer-time, .favorites-autumn-time {
    display: none;
}
/*==========//Favorites================*/


