@font-face {
    font-family: 'Forum';
    src: url('fonts/Forum/Forum-Regular.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    width: 1440px;
    border: 1px rgb(187, 187, 187) solid;
}
/*==========Header================*/
header {
    width: 100%;
    height: 90px;
    background-color: #0C0C0E;
    display: flex;
}
h1 {
    width: 294px;
    height: 50px;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-left: 20px;
}
nav {
    height: 50px;
    width: 584px;
    margin: 20px 40px 20px 454px;
    padding: 0;
}
nav ul {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 30px;
    margin: 0;
    padding: 0;
}
nav ul li {
    width: 100%;
    height: 100%;
    list-style: none;
}
nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    white-space: nowrap;
    cursor: pointer;
}
nav ul li a:hover {
    transition: .45s;
    color: aqua;
}
.icon_profile {
    width: 28px;
    height: 28px;
    margin: 31px 20px 31px 0;
}
/*==========//Header================*/

main {
    width: 1440px;
}

/*==========Welcome================*/
.welcome {
    width: 100%;
    height: 600px;
    background: url(images/welcome.jfif) top -800px left / cover no-repeat;
    position: relative;
}
.overlay {
    width: 1440px;
    height: 300px;
    position: absolute;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}
.welcome-bg {
    display: flex;
    width: 600px;
    height: 220px;
    flex-shrink: 0;
    position: absolute;
    top: 220px;
    background-color: #0C0C0E;
    padding: 0;
}
.welcome-bg h2 {
    margin: 35px 40px;
    width: 520px;
    height: 120px;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
/*==========//Welcome================*/

/*==========ABOUT================*/
.about {
    width: 1440px;
    height: 837px;
}
.about .section-title {
    width: 106px;
    height: 61px;
    position: relative;
    margin: 20px 667px 0px 667px;
}
.about .section-title h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
}
.about .section-title::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    bottom: 0;
    left: 26.5px;
}
.about p {
    display: block;
    width: 1440px;
    height: 40px;
    margin: 40px 0 20px 0;
    padding: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
}
.images-items {
    width: 1400px;
    height: 560px;
    padding: 0 20px;
    display: flex;
    gap: 25px;
}
.carousel-pagination {
    margin: 40px 686px;
    padding: 0;
    display: flex;
    gap: 10px;    
    width: 68px;
    height: 16px;
    justify-content: center;
    align-items: center;
}
.carousel-item-area {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0C0C0E;
}
.carousel-item-active {
    background: #BB945F;
}
/*==========//ABOUT================*/

